<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<body class="homepage is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header">
			<div class="container">

				<!-- Logo -->
				<!-- <h1 id="logo">
					<img src="{{ url_for('static', filename='images/placeholderlogo.jpg') }}" class="logo-icon" alt="Dog Logo">
					CynoRisk.net
				</h1> -->
				<div id="branding">
					<div class="branding-left">
						<img src="{{ url_for('static', filename='images/placeholderlogo.jpg') }}" alt="Logo"
							class="site-logo" />
					</div>
					<div class="branding-center">
						<h1 class="site-title"><a id = "header-title" href = "/">CynoRisk.net</a></h1>
					</div>
					<div class="branding-right">
						{% if session.get("username") %}
						<a href="#">Welcome, {{ session['username'] }}</a>
						<a href="/logout">Logout</a>
						{% else %}
						<a href="/register"><span>Register</span></a>
						<a href="/login"><span>Sign In</span></a>
						{% endif %}
					</div>
				</div>

				<hr class="logo-divider">
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="/"><span>Home</span></a></li>
						<li><a href="/risk-management"><span>Risk Management</span></a></li>
						<li><a href="/regulation"><span>Regulation</span></a></li>
						<li><a href="/pricing"><span>Pricing</span></a></li>
						<li><a href="/portfolio-management"><span>Portfolio Management</span></a></li>
						<li><a href="/journal"><span>Journals</span></a></li>
						<!-- <li><a class="icon solid fa-handshake" href="/"><span>How we help</span></a></li>
						<li>
							<a href="#" class="icon fa-chart-bar"><span>Products</span></a>
							<ul>
								<li><a href="/articles/article-stress-testing/stress-testing.html">Stress Testing Article</a></li>
								<li><a href="/">Home</a></li>
								<li><a href="#">Etiam dolore nisl</a></li>
								<li>
									<a href="#">Phasellus consequat</a>
									<ul>
										<li><a href="#">Magna phasellus</a></li>
										<li><a href="#">Etiam dolore nisl</a></li>
										<li><a href="#">Phasellus consequat</a></li>
									</ul>
								</li>
								<li><a href="#">Veroeros feugiat</a></li>
							</ul>
						</li> -->
						<li><a href="/about-us"><span>About</span></a></li>
						<li><a href="#footer"><span>Contact</span></a></li>
					</ul>
				</nav>

			</div>
		</section>